.row
	.small-12.large-centered.columns
		%h3 
			= "#{@project.name} sprints"

		%table.card
			%thead
				%tr
					%th{:width => "350"} Description
					%th{:width => "100"} Date
					%th{:width => "50"} Votes
					%th{:width => "50"} Rating
					%th{:width => "50"} Points Planned
					%th{:width => "50"} Points Achieved
					%th{:width => "75"} Token

			%tbody
				- @project.sprints.each do |sprint|
					%tr
						%td 
							= link_to sprint.description, project_sprint_path(@project, sprint)
						%td 
							= sprint.created_at.strftime("%d %b %Y")
						%td 
							= sprint.votes
						%td 
							= sprint.rating
						%td
							= sprint.velocity_planned
						%td
							= sprint.velocity_acheived	
						%td
							- if sprint.voting_done?
								= sprint.token							
							- else
								%strike 
									= sprint.token

/ .demo-area
/ 	%button#d_clip_button.my_clip_button{"data-clipboard-target" => "fe_text", "data-clipboard-text" => "Default clipboard text from attribute", :title => "Click me to copy to clipboard."}
/ 		%b Copy To Clipboard...
/ 	%h4
/ 		%label{:for => "fe_text"} Change Copy Text Here
/ 	%textarea#fe_text{:cols => "50", :rows => "3"} Copy me!
/ 	%h4
/ 		%label{:for => "testarea"} Paste Text Here
/ 	%textarea#testarea{:cols => "50", :rows => "3"}
/ 	%p
/ 		%button#clear-test Clear Test Area

/ :javascript
/ 	$(document).ready(function() {
/ 		var clip = new ZeroClipboard($("#d_clip_button"))
/ 	});

/ 	$("#clear-test").on("click", function(){
/ 		$("#fe_text").val("Copy me!");
/ 		$("#testarea").val("");
/ 	});
