.row
	.small-12.large-centered.columns
		%h3 
			= "#{@project.name} sprints"

		%table.card
			%thead
				%tr
					%th{:width => "250"} Description
					%th{:width => "100"} Date
					%th{:width => "75"} Status
					%th{:width => "50"} Votes
					%th{:width => "50"} Rating
					%th{:width => "50"} Points Planned
					%th{:width => "50"} Points Achieved
					%th{:width => "50"} token

			%tbody
				- @project.sprints.each do |sprint|
					%tr
						%td 
							= link_to sprint.description, project_sprint_path(@project, sprint)
						%td 
							= sprint.created_at.strftime("%d %b %Y")
						%td
							- if sprint.voting_done?
								%i.material-icons.small lock
							- else
								%i.material-icons.small lock_open
						%td 
							= sprint.votes
						%td 
							= sprint.rating
						%td
							= sprint.velocity_planned
						%td
							= sprint.velocity_acheived	
						%td
							= sprint.token								