%br
.row
  .medium-8.columns
    .row
      .small-6.columns
        %h4
          = "Token: #{@sprint.token}"
    .row
      .small-6.columns
        %h4 
          = "Votes: #{@sprint.reviews.count} / #{@sprint.votes}"
    .row
      .small-6.columns
        %h4 
          = "Rating: #{@sprint.rating} / 10"          
    
    %hr

    .row
      %h2 Comments
      .small-6.columns
        - @sprint.reviews.each do |review| 
          = review.comment
          %br  

  .medium-4.columns
    %strong Project:
    = @project.name
    %br
    %strong Sprint:
    = @sprint.created_at.strftime("%d %b %Y")