.sprint_review
  .row
    .medium-9.columns

      = form_for [@project, @sprint, @review] do |f|
        .row
          .small-6.columns
            %h3  Are you a PO?
            = f.radio_button :role, 'yes', id: 'role-yes'
            = f.label 'Yes', for: 'role-yes'
            = f.radio_button :role, 'no', id: 'role-no'
            = f.label 'No', for: 'role-no'

        %hr

        .row
          .small-12.columns
            %h3 Rate your sprint
            - 11.times do |i|
              = f.radio_button :score, i, id: 'score' + i.to_s
              = f.label i, for: 'score' + i.to_s         

        %hr

        .row
          .small-12.columns
            %h3 Comment (optional)
            = f.text_field :comment

        .row
          .small-3.columns
            .actions
              = f.submit "Submit", class: 'btn waves-effect waves-light brand-colour'



    .medium-3.columns
      %h2 Review Your Sprint
      .help-inset
        Mark if you are a PO or another team member
        %br
        Rate your sprint from 0 to 10
        %br
        And you are welcome to comment on the sprint.

      %hr

      %strong Project:
      = @project.name
      %br
      %strong Sprint:
      = @sprint.created_at.strftime("%d %b %Y")